{:paths ["src" "templates"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  me.raynes/fs {:mvn/version "1.4.6"}
  selmer {:mvn/version "1.12.50"}
  org.asciidoctor/asciidoctorj {:mvn/version "2.5.3"}
  clojure.java-time {:mvn/version "0.3.3"}
  com.taoensso/timbre {:mvn/version "5.2.1"}
  com.climate/claypoole {:mvn/version "1.1.4"}}

 :aliases
 {:propel {:extra-deps {olical/propel {:mvn/version "2.0.0"}}
           :main-opts ["-m" "propel.main" "-w"]}
  :depot {:extra-deps {olical/depot {:mvn/version "2.3.0"}}
          :main-opts ["-m" "depot.outdated.main" "-a" "propel"]}
  :build {:main-opts ["-m" "blog.main"]}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
