/* https://srcery-colors.github.io/ */
/* black rgb(28, 27, 25) */
/* red rgb(239, 47, 39) */
/* green rgb(81, 159, 80) */
/* yellow rgb(251, 184, 41) */
/* blue rgb(44, 120, 191) */
/* magenta rgb(224, 44, 109) */
/* cyan rgb(10, 174, 179) */
/* white rgb(145, 129, 117) */
/* brightblack rgb(45, 44, 41) */
/* brightred rgb(247, 83, 65) */
/* brightgreen rgb(152, 188, 55) */
/* brightyellow rgb(254, 208, 110) */
/* brightblue rgb(104, 168, 228) */
/* brightmagenta rgb(255, 92, 143) */
/* brightcyan rgb(83, 253, 233) */
/* brightwhite rgb(252, 232, 195) */

body {
  background-color: #EEEEEE;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.page-wrapper {
  font-size: 1rem;
  font-family: sans-serif;
  color: #1E2019;
  padding: 0 1rem 1rem 1rem;
}

a {
  color: #595E4D;
}

a:hover {
  color: #FF9999;
}

.page-content {
  max-width: 80rem;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  border-bottom: 1px dotted #1E2019;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.page-title a {
  color: #394032;
  text-decoration: underline;
}

.page-title a:visited {
  color: #394032;
}

.page-subtitle {
  font-size: 2rem;
  margin-top: 0;
}

.not-found-title {
  text-align: center;
}

.not-found-content {
  padding: 1rem 10%;
}

.post-header {
  text-align: center;
}

.post-title {
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
  color: #34382B;
  font-style: italic;
}

.home-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-post-date {
  text-align: right;
  font-size: 1rem;
  color: #34382B;
  font-style: italic;
  white-space: nowrap;
  padding-left: 1rem;
}

.home-post-title a {
  text-decoration: none;
}

.page-footer {
  text-align: center;
  border-top: 1px dotted #1E2019;
  margin-bottom: 3rem;
}

pre.highlight {
  padding: 0.3rem;
  background-color: #EEEEEE;
  overflow: auto;
}

blockquote {
  border-left: #34382B 0.3rem solid;
  margin-left: 1rem;
  padding-left: 1rem;
  color: #595E4D;
}

/* WP Legacy styles. */

span.image {
  display: block;
  text-align: center;
  padding: 1rem;
}
