/* https://srcery-colors.github.io/ */
/* {:bright-magenta "#FF5C8F",
    :bright-red "#F75341",
    :bright-cyan "#53FDE9",
    :bright-blue "#68A8E4",
    :orange "#D75F00",
    :xgray1 "#262626",
    :bright-green "#98BC37",
    :bright-yellow "#FED06E",
    :bright-orange "#FF8700",
    :white "#918175",
    :yellow "#FBB829",
    :green "#519F50",
    :cyan "#0AAEB3",
    :bright-white "#FCE8C3",
    :xgray4 "#444444",
    :xgray5 "#4E4E4E",
    :red "#EF2F27",
    :blue "#2C78BF",
    :xgray2 "#303030",
    :hard-black "#121212",
    :magenta "#E02C6D",
    :xgray3 "#3A3A3A",
    :bright-black "#2D2C29",
    :black "#1C1B19"} */

html {
  font-size: 18px;
}

body {
  background-color: #EEEEEE;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.page-wrapper {
  font-size: 1rem;
  font-family: sans-serif;
  color: #1C1B19;
  padding: 0 1rem 1rem 1rem;
}

a {
  color: #519F50;
}

a:hover {
  color: #E02C6D;
}

.page-content {
  max-width: 50rem;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  border-bottom: 1px dotted #1E2019;
  margin-bottom: 1rem;
}

.page-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.page-title a, .page-title a:visited {
  color: #519F50;
  text-decoration: underline;
}

.page-subtitle {
  font-size: 2rem;
  margin-top: 0;
}

.page-main {
  padding: 0 1rem;
}

.not-found-title {
  text-align: center;
}

.not-found-content {
  padding: 1rem 10%;
}

.post-header {
  text-align: center;
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-date {
  margin-top: 0;
  color: #2D2C29;
  font-style: italic;
}

.home-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-post-date {
  text-align: right;
  font-size: 1rem;
  color: #2D2C29;
  font-style: italic;
  white-space: nowrap;
  padding-left: 1rem;
}

.home-post-title a {
  text-decoration: none;
}

.page-footer {
  text-align: center;
  border-top: 1px dotted #1E2019;
  margin-bottom: 3rem;
}

pre.highlight {
  padding: 0.3rem;
  background-color: #DFDFDF;
  overflow: auto;
  border: 1px solid #FF5C8F;
}

blockquote {
  border-left: #2C78BF 0.3rem solid;
  margin-left: 1rem;
  padding-left: 1rem;
  color: #2D2C29;
}

code {
  color: #68A8E4;
}

code[data-lang] {
  color: #3A3A3A;
}

.asciicast {
  text-align: center;
}

/* WP Legacy styles. */

span.image {
  display: block;
  text-align: center;
  padding: 1rem;
}
