server {
    listen 80 default_server;
    server_name _;
    return 200;
}

server {
    listen ${PORT};
    server_name oli.me.uk;

    location / {
        root /app/output;
    }

    error_page 404 /404.html;
    location = /404.html {
        root /app/output;
        internal;
    }

    # Redirect my old blog URL formats to the new one.
    rewrite ^/\d\d\d\d[\-\/]\d\d[\-\/]\d\d[\-\/](.*)$ /$1 permanent;
}
