body {
  background-color: #FEFEFE;
}

.page-wrapper {
  font-size: 1rem;
  font-family: sans-serif;
  color: #1E2019;
  padding: 0 1rem 1rem 1rem;
}

a {
  color: #595E4D;
}

a:hover {
  color: #FF9999;
}

.page-content {
  max-width: 80rem;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  border-bottom: 1px dotted #1E2019;
  margin-bottom: 1rem;
}

.page-title {
  font-family: monospace;
  font-size: 4rem;
  margin-bottom: 0;
}

.page-title a {
  color: #394032;
  text-decoration: underline;
}

.page-title a:visited {
  color: #394032;
}

.page-subtitle {
  font-family: monospace;
  font-size: 2rem;
  margin-top: 0;
}

.not-found-title {
  text-align: center;
}

.not-found-content {
  padding: 1rem 10%;
}

.post-header {
  text-align: center;
}

.post-title {
  margin-bottom: 0;
}

.post-date {
  margin-top: 0;
  color: #34382B;
  font-style: italic;
  font-family: monospace;
}

.post-content {
  padding: 1rem;
}

.home-intro {
  padding: 1rem 10%;
}

.home-posts-wrapper {
  padding: 1rem;
  margin: 0 auto;
}

.home-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-post-date {
  font-size: 1rem;
  flex: 1;
  color: #34382B;
  font-style: italic;
  font-family: monospace;
}

.home-post-title {
  flex: 6;
}

.home-post-title a {
  text-decoration: none;
}

.page-footer {
  text-align: center;
  border-top: 1px dotted #1E2019;
  margin-bottom: 3rem;
}

pre.highlight {
  padding: 0.3rem;
  background-color: #EEEEEE;
  overflow: auto;
}

blockquote {
  border-left: #34382B 0.3rem solid;
  margin-left: 1rem;
  padding-left: 1rem;
  color: #595E4D;
}

/* WP Legacy styles. */

span.image {
  display: block;
  text-align: center;
  padding: 1rem;
}
